@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border_circle {
    @apply flex border-[2px] w-10 h-10 mr-4 border-gray-300 hover:border-red-600 
    border-solid rounded-full items-center justify-center p-2;
  }
  .link_hover {
    @apply hover:text-yellow-600;
  }
}

/* custom fonts  */

@font-face {
  font-family: "cairo";
  src: url(/fonts/cairo/Cairo-VariableFont_slnt\,wght.ttf);
}

/* onther option font that may be not used  */
@font-face {
  font-family: "rubik";
  src: url(/fonts/rubik/Rubik-VariableFont_wght.ttf);
}
